body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Slabo 27px', serif;
    /*font-family: 'Barlow Condensed', Calibri, sans-serif;
    background-color: #D3D3D3;*/
}

h1 {
    font-family: 'Roboto';
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
    background: #eee;
}

.background {
    fill: white;
    background-color: #fff !important
}
.states-bundle {
    fill: white !important;
    background-color: #fff !important
}


#main {
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.center {
	text-align: center;
}