body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Slabo 27px', serif;
    padding: 5%;
}

h1 {
    font-family: 'Roboto';
    font-weight: bold;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

h2 {
  font-family: 'Roboto';
  font-weight: lighter;
}

p {
  font-size: 18px;
}

path {
    stroke: white;
    stroke-width: 1;
}

#currday {
  display: inline;
  font-weight: bold;
  color: orange;
  padding-top: 1%;
  padding-bottom: 1%;
}

#currtime {
  display: inline;
  font-weight: bold;
  color: orange;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

a, a:hover {
  color: green;
}

.button1{
    border: 2px solid #4CAF50;
}
.button2{
    border: 2px solid #005aff;
}

.button1:hover {
    background-color: #4CAF50;
}

.button1:checked {
    background-color: #4CAF50;
}


.button2:hover {
    background-color: #008CBA;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
    background: #f2f2f2;
}

.background {
    fill: white;
    background-color: #fff !important
}
.states-bundle {
    fill: white !important;
    background-color: #fff !important
}


#main {
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.center {
	text-align: center;
}

#slider {
    width: 100%;
    padding: 10px;
}

#time {
  padding-bottom: 2%;
}

#stats p {
  margin: 0;
}

#stats .caption {
  margin: 5% 0;
}

#date-buttons {
  text-align: center;
  margin: 2% 0;
}

#date-buttons button {
  margin: 1%;
}

#date-time-label {
  font-family: 'Roboto';
  display: block;
  text-align: left;
  padding: 20px 0;
}